<div >

  <h1 class="address-title">Criar Novo Usuário</h1>

  <div class="form-content">
    <div class="info-content">
      <h2>Info Pessoais</h2>

      <mat-form-field class="user-info" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput type="text" class="form-control" name="nome" [(ngModel)]="formCliente.nome" required>
      </mat-form-field>

      <mat-form-field class="user-info" appearance="fill">
        <mat-label>email</mat-label>
        <input matInput type="text" class="form-control" name="email" [(ngModel)]="formCliente.email" required>
      </mat-form-field>

      <mat-form-field class="user-info" appearance="fill">
        <mat-label>cpf</mat-label>
        <input matInput type="text" class="form-control" name="cpf" [(ngModel)]="formCliente.cpf" required>
      </mat-form-field>

      <mat-form-field class="user-info" appearance="fill">
        <mat-label>telefone</mat-label>
        <input matInput type="text" class="form-control" name="telefone" [(ngModel)]="formCliente.telefone" required>
      </mat-form-field>

      <mat-form-field class="user-info" appearance="fill">
        <mat-label>celular</mat-label>
        <input matInput type="text" class="form-control" name="celular" [(ngModel)]="formCliente.celular" required>
      </mat-form-field>

    </div>

    <div class="address-content" *ngFor="let endereco of enderecos; let i = index">

      <h2>endereco {{i+1}}</h2>
      <mat-form-field class="user-address" appearance="fill">
        <mat-label>rua</mat-label>
        <input matInput type="text" class="form-control" name="rua" [(ngModel)]="endereco.rua" required>
      </mat-form-field>

      <mat-form-field class="user-address" appearance="fill">
        <mat-label>numero</mat-label>
        <input matInput type="text" class="form-control" name="numero" [(ngModel)]="endereco.numero" required>
      </mat-form-field>

      <mat-form-field class="user-address" appearance="fill">
        <mat-label>bairro</mat-label>
        <input matInput type="text" class="form-control" name="bairro" [(ngModel)]="endereco.bairro" required>
      </mat-form-field>

      <mat-form-field class="user-address" appearance="fill">
        <mat-label>cidade</mat-label>
        <input matInput type="text" class="form-control" name="cidade" [(ngModel)]="endereco.cidade" required>
      </mat-form-field>

      <mat-form-field class="user-address" appearance="fill">
        <mat-label>cep</mat-label>
        <input matInput type="text" class="form-control" name="cep" [(ngModel)]="endereco.cep" required>
      </mat-form-field>

      <mat-form-field class="user-address" appearance="fill">
        <mat-label>estado</mat-label>
        <input matInput type="text" class="form-control" name="estado" [(ngModel)]="endereco.estado" required>
      </mat-form-field>

      <mat-form-field class="user-address" appearance="fill">
        <mat-label>pais</mat-label>
        <input matInput type="text" class="form-control" name="pais" [(ngModel)]="endereco.pais" required>
      </mat-form-field>

    </div>

  </div>

  <button class="create-button" mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
  <a href="" mat-raised-button>Cancelar</a>

</div>

<button mat-raised-button (click)="addAddress()">adicionar endereco</button>